body{
    background-color: #F3F3F3 !important;
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-x: hidden !important;
    width: 100vw;
}
header,.navbar-nav{
    transition: all 0.3s ease-in-out !important;
}
.mobile-btn{
    display: none;
    position: relative;
    z-index: 999;
    border: none;
    background-color: transparent;
}

.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon{
    position: relative;
    background-color: #292929 !important;
    background-image: none !important;
    height: 2px;
}
header,.mobile-menu, .navbar {
    background-color:  transparent !important;
}
.mobile-menu{
    height: 0;
    overflow: hidden;
}
.mobile-show{
    height: max-content;
    overflow: visible;
}
.navbar-toggler-icon::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: #292929 !important;
    top: 10px;
    left: 0;
}
.navbar-toggler-icon::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 120%;
    background-color: #292929 !important;
    top: -10px;
    left: 0;
}
.f1{
    text-decoration: none !important;
    color: white !important;
    background-color: #292929 !important;
    border-radius: 22px !important;
    width: 76px !important;
    height: 50px;
    margin-top: 3px;
    padding-top: 11px;
    padding-left: 22px;
}
.container{
    position: relative;
}
.container *{
    position: relative;
    z-index: 2;
}
.brand-wrap{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.brand-wrap a{
    margin: 0 auto;
}
.f2{
    padding-right: 15px;
}
.f3 {
    padding-left: 15px;
}
.aboba{
    position: relative !important;
    margin-right: -40px;
}
.aboba__span{
    position: absolute !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    color: white;
}
.dawd {
    font-size: Regular;
    font-weight: 300;
    margin-top: 40px;
}
.inp {
    position: relative;
}
.inp img{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    z-index: 2;
}
.inp input{
    width: 367px;
    height: 50px;
    background-color: #D0D0D0;
    font-weight: 100;
    text-align: center;
    position: relative;
    z-index: 1;
    border: none;
}
.inp input:focus{
    z-index: 3;
    box-shadow: none;
}
.inp input::placeholder{
    padding-right: 10px;
    text-align: right;
}
.daws{
    font-size: 40px;
    line-height: 30px;
    
    font-weight: 900;
}
.daws2{
    margin-top: -10px;
}
.dasr{
    background-color: #D0D0D0 !important;
    border-radius: 0 !important;
    width: 265px !important;
    text-align: left;
    position: relative;
    height: 40px;
}
.dasr img{
    position: absolute;
    right: 30px;
    top: 13px;
}

.butti {
    display: flex;
    align-items: center;
}
.s2{
    width: 40px;
    height: 40px;
    border: 1px solid #C5C5C5;
    margin-left: 25px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.g{
    display: flex;
    margin-top: 90px;
}
.mobile_images{
    display: none;
}
.right{
    margin-left: 10%;
}
.right img:nth-child(2){
    margin-left: 30px;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    position: relative !important;
    background: none;
    border: none;
    padding: 0;
}
.card__header{

    width: 93%;
    position: relative;
}
.card__header .button-wrap{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card__header img{
    border-radius: 0;
    
}
.button-wrap .btn{
    font-size: 24px !important;
    background-color: #EBEBEF;
    font-weight: 100 !important;
}
.card-body h5,p{
    text-align: left;
}
.card-body span{
    text-align: right;
}
.card-body{
    width: 100%;
    
}
.vgr{
    display: flex;
    justify-content: space-between;
}
.swiper-btns-wrap{
    width: 100%;
    margin-top: 20px;
}
.swiper-btns{
    width:max-content;
    display: flex;
    margin: 0 auto;
}
.s2::before{
    content: '';
    width: 0;
    height: 0; 
}
.s2::after{
    content: '';
    width: 0;
    height: 0;
}
.a{
    margin-top: 90px;
}
.dawg{
    font-size: 40px;
    font-weight: 900;
}
.a button{
    margin-top: 30px;
}
.dawg2{
    text-align: right;
    color: #D0D0D0;
    margin-right: 30px;
    margin-top: -30px;
}

.filt{
    color: #8A8A8A !important;
    font-size: 16px !important;
    font-weight: regular !important;
}
.filta {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: medium !important;
}
.collect{
    display: flex;
    flex-wrap: wrap;
    height: 436px;
    overflow-y: hidden;
    justify-content: center;
    
}
.collect-active{
    height: max-content;
}
.dawdw{
    padding: 0 25px 0 25px;
}
.card_2{
    width: 388px;
}
.down {
    background-color: #F3F3F3 !important;
    color: #8A8A8A;
    text-decoration: none;
}
.but-down{
    display: flex;
    justify-content: center;
}
.wdfea {
    letter-spacing: 2px;
}
.wdfea1{
    letter-spacing: 2px;
}
.inf1:first-child{
    margin-bottom: 90px;
    margin-right: 40px;
}
.inf1{
    margin-right: 40px;
}
.imd1{
    margin-right: 40px;
}
.ywaewe{
    background-color: #DEDEDE;
    height: 628px;
    padding-top: 120px;
    position: relative;
}
.info{
    text-align: left;
    flex-direction: column;
    margin-left: 247px;
    
}
.info h2{
    font-size: 15px;
    color: #8A8A8A;
    padding-bottom: 20px
}
.info p{
    color: #747474;
    font-weight: 600;
    font-size: 12px;
}
.lang{
    text-align: left;
    flex-direction: column;
    padding-top: 120px;
    margin-left: 247px;
}
.lang h2{
    font-size: 15px;
    color: #8A8A8A;
    padding-bottom: 20px
}
.lang p{
    color: #747474;
    font-weight: 600;
    font-size: 12px;
}
.tech{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tech h2{
    font-size: 15px;
    color: #8A8A8A;
    padding-bottom: 20px
}
.tech p{
    font-size: 80px;
    line-height: 50%;
}
.tech p sup{
    font-size: 12px !important;
    color: #747474 !important;
    padding-bottom: 30px;
}
.dawdfqw{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.p11{
    position: relative;
}
.p11 img{
    position: absolute;
}
.p11 span{
    opacity: 5%;
}
.p11 ,.p12 ,.p13{
    font-weight: 800;
}
.p12{
    position: relative;
}
.p12 sup{
    position: relative;
    top: -45px;
}
@media(max-width:1399px){
    .right img{
        width: 280px;
    }
    .p img{
        width: 230px;
        height: 304px;
    }
    .dawdw{
        padding: 0 0 0 0;
    }
     .card_2{
        width: 320px !important;
        height: 436px !important;
    }
}
@media(max-width:1199px){
    .right img{
        width: 180px;
    }
    .p img{
        width: 230px;
        height: 304px;
    }
    .dawdw{
        padding: 0 0 0 0;
    }
     .card_2{
        width: 320px !important;
        height: 436px !important;
    }
    .imd1 {
        margin-right: 0px;
    }
    .lang, .info{
        margin-left: 100px;
    }

}
@media(max-width: 991px){
    .left{
        width: 220px;
    }
    .dasr img{
        display: none;
    }
    .inf1, .imd1{
        width: 130px !important;
        height: 204px !important;
        object-fit: cover;
        margin-left: 40px;
    }
    .lang, .info{
        margin-left: 20px;
    }
    .tech{
        margin-left: 50px;
    }
}
@media(max-width:767px){
    .container {
        width: 100% !important;
        margin: 0 auto !important;
        max-width: 100% !important;
        margin-top: 50px !important;
    }
    .right{
        margin-left: 12%;
    }
}
@media(max-width: 721px){
    .right{
        margin-left: 11%;
    }
}
@media(max-width:713px){
    .y{
        display: none;
    }
    .p{
        display: none;
    }
    .right img:nth-child(2){
        margin-left: 25px;
    }
    .inf1, .imd1{
        margin-right:0px;
    }
}
@media(max-width:708px){
    .right img:nth-child(2){
        margin-left: 10px;
    }
}
@media(max-width:691px){
    .right img:nth-child(2){
        margin-left: 5px;
    }
}
@media(max-width:683px){
    .right img:nth-child(2){
        margin-left: 1px;
    }
}
@media(max-width:691px){
    .right img:nth-child(2){
        margin-left: 1px;
    }
    .g{
        flex-direction: column;
    }
    .right{
        display: none;
    }
    
    .mobile_images{
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .mobile_images img{
        width: 180px;
        height: 180px;
    }
    .mobile_images img:nth-child(2){
        margin-left: 5px;
    }
}
@media(max-width: 991px){
    .pc-menu{
        display: none;
    }
    .ifejso{
        display: none;
    }
    .aboba{
        display: none;
    }
    .mobile-btn{
        display: block;
    }
}
@media(max-width: 581px){
    .tech{
        margin-left: 100px;
    }
}
@media(max-width: 496px){
    .tech h2{
        font-size: 10px;
    }
    .tech p{
        font-size: 40px;
    }
    .tech p sup{
        font-size: 6px !important;
    }
}
@media(max-width: 387px){
    .abobd{
        margin-left: -30px;
    }
    .inp input{
        width: 300px;
    }
}
@media(max-width: 320px){
    .mobile_images img{
        height: 140px;
        width: 140px;
    }
    .tech h2{
        font-size: 5px;
    }
    .tech p{
        font-size: 20px;
    }
    .tech p sup{
        font-size: 3px !important;
    }
}
@media(max-width: 663px){
    .a{
        justify-content: center;
    }
}
@media(max-width: 768px){
    .s2{
        display: none;
    }
}
@media(max-width: 660px){
    .card{
        width: 400px !important;
        height: 500px !important;
    }
    
}
@media(max-width: 320px){
    .collect{
        height: 500px !important;
        justify-content: center;
    }
    .card_2{
       
    }
}




.offcanvas{
    margin-top: 82px !important;
    background-color: #F3F3F3;
    border: none !important;
}
.csds{
    width: 50px !important;
    height: 50px !important;
    border: 1px solid black;
    margin-left: 2px;
}
.pa {
    margin-left: 420px;
}
.offcanvas h5{
    
}
.offcanvas h2{
    
    font-size: 20px;
}
.size{
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
}
.accordion-item,.accordion-header,.accordion-body{
    background-color: #F3F3F3 !important;
    border: none !important;
}
.accordion-header button{
    background-color: #F3F3F3 !important    ;
}
.accordion-button:focus{
    box-shadow: none;
}
.pb{
    margin-top: 90px;
    margin-left: 410px;
    display: flex;
    flex-wrap: wrap;
}